.popup__form-container_type_infoTooltip {
    min-height: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:32px;
    box-sizing: border-box;
  }